body{
    background-color: darkgray;
    text-align: center;
}

.box{
    display: inline-block;
    background-color: white;
    width: 350px;
    margin: 400px auto;
    text-align: center;
}

.box-robot{
    margin-top: -300px;
}

.box-content{
    padding: 20px;
}

.box-content h1{
    margin-bottom: 20px;
    background-color: antiquewhite;
}

.box-content p{
    text-align: left;
}